$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$tablet: $bp-tablet;
$tablethorizontal: $bp-tablet-horizontal;
$desktop: $bp-desktop;
$desktop-xl: $bp-desktop-xl;

//Colors

//Fonts
$inter-font: 'Inter', sans-serif; //Inter font